.rectangle{
    border-bottom: 1px solid #293133;
    height: 50px;
    font-size: small;
    display: flex;
    align-items: flex-end;
}

.rectangle__name{
    text-align: center;
    color: #FFF;
}

